* {
  border: none;
  font-family: "Inter", "Fira Code Nerd Font";
  font-size: 15px;
  min-height: 30px;
}

window#waybar {
  border-radius: 6px;
  background: #2e3440;
}

#workspaces {
  background-color: #2e3440;
  color: #eceff4;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button {
  background: #2e3440;
  color: #eceff4;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button.active {
  color: #2e3440;
  background: #eceff4;
  border-radius: 0px;
}

#disk,
#network,
#clock,
#pulseaudio,
#memory,
#window {
  background: #2e3440;
  color: #eceff4;
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  margin-right: 20px;
}
