@define-color noir0 #0c0b0a;
@define-color noir1 #0d0b0a;
@define-color noir2 #171513;
@define-color noir3 #282a2d;
@define-color noir4 #a0a4a8;
@define-color noir5 #9aa0a6;
@define-color noir6 #80868b;
@define-color noir7 #80a8a2;
@define-color noir8 #80a8a2;
@define-color noir9 #7691a3;
@define-color noir10 #5a6b75;
@define-color noir11 #916666;
@define-color noir12 #8a8080;
@define-color noir13 #8a8080;
@define-color noir14 #949669;
@define-color noir15 #9486a3;

@define-color foreground    @noir4;
@define-color background   @noir0;
@define-color background-sec @noir1;

@define-color text            @foreground;
@define-color background-alt  @noir1;
@define-color selected        @noir4;
@define-color hover           alpha(@noir2, .8);
@define-color urgent          @noir2;

* {
  color: @text;
  opacity: 1;
  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font", "Nerd Font", monospace;
  transition: 200ms;
}

/* Control Center */

.control-center {
  background: alpha(@background, 0.95);
  border-radius: 24px;
  border: 1px solid @noir0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  margin: 18px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center
  .notification-row
  .notification-background
  .notification.critical {
  background-color: @background-alt;
  border-radius: 16px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  color: @urgent;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: @text;
  opacity: 1;
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  background: alpha(@selected, 0.6);
  color: @text;
  opacity: 1;
  border-radius: 12px;
  margin: 6px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background: @selected;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: @text;
  opacity: 1;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @selected;
}

progressbar,
progress,
trough {
  border-radius: 12px;
}

progressbar {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;
}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
  opacity: 1;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @text;
  opacity: 1;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  opacity: 1;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: @background-alt;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

/* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @background-alt;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd > switch:checked {
  background: @noir10;
}

.widget-dnd > switch:checked:hover {
  background: @noir10;
}

.widget-dnd > switch slider {
  background: @text;
  border-radius: 6px;
}

/* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background: @background-alt;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @hover;
}

/* Music player */
.widget-mpris {
  min-width: 340px;
  background: @background-alt;
  border-radius: 16px;
  color: @text;
  opacity: 1;
  margin: 20px 6px;
  padding: 16px;
}

.widget-mpris-player {
  background-color: @background-sec;
  border-radius: 22px;
  padding: 16px;
  margin: 8px;
}

.widget-mpris > box > button {
  color: @text;
  opacity: 1;
  border-radius: 20px;
  min-width: 40px;
  min-height: 40px;
}

.widget-mpris button {
  color: @text;
  opacity: 1;
  padding: 8px;
}

.widget-mpris button:hover {
  color: @text;
  opacity: 1;
}

.widget-mpris-album-art {
  border-radius: 16px;
  min-width: 120px;
  min-height: 120px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 1rem;
}

/* Volume */
.widget-volume {
  background: @background-sec;
  color: @background;
  padding: 4px;
  margin: 6px;
  border-radius: 6px;
}
