lazy-lock.json
.env
yazi.toml-*
fish_variables
tmux_resurrect_*
opencode-notifier-state.json
config/opencode/package-lock.json

.opencode
dcp.jsonc
openspec
AGENTS.md
.swarm/
home/.tmux/plugins/
config/opencode/commands/
config/opencode/plugins/
