Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!! URxvt Appearance
URxvt.font:			xft:Fira Code:pixelsize=14:antialias=true:hinting=true
URxvt.boldFont:		xft:Fira Code:bold:pixelsize=14:antialias=true:hinting=true
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

*foreground:     #E5E9F0
*background:     #2E3440
*highlightColor: #3F4758
*cursorColor:    #81A1C1

! black
*color0:         #3B4252
*color8:         #4C566A

! red
*color1:         #E06C75
*color9:         #E06C75

! green
*color2:         #9EC183
*color10:        #9EC183

! yellow
*color3:         #EBCB8B
*color11:        #EBCB8B

! blue
*color4:         #81A1C1
*color12:        #81A1C1

! magenta
*color5:         #B988B0
*color13:        #B988B0

! cyan
*color6:         #88C0D0
*color14:        #8FBCBB

! white
*color7:         #E5E9F0
*color15:        #ECEFF4
