[user]
	name = Yandi
	email = karyana@yandi.me
[credential]
	helper = cache --timeout=18000
[push]
	default = simple
[pull]
	rebase = false
[init]
	defaultBranch = main
[branch]
  autoSetupMerge = simple
