@import "../../.config/dotfiles/themes/current/waybar/waybar.css";

* {
  border: none;
  font-family: "JetBrains Mono NF";
  font-size: 15px;
  min-height: 30px;
}

window#waybar {
  background-color: @background;
  color: @foreground;
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button {
  background-color: transparent;
  color: @foreground;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button.focused {
  box-shadow: inset 0 -3px @foreground;
  /* background: #353b45; */
}

#workspaces button:hover {
  background: @accent;
}

#workspaces button.urgent {
  background-color: @urgent;
}

#mode {
  font-style: italic;
}

#clock,
#disk,
#memory,
#network,
#pulseaudio,
#bluetooth,
#custom-notification,
#window {
  padding-left: 10px;
  padding-right: 10px;
}

#custom-notification {
  margin-right: 20px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @foreground;
}
