@define-color vesper0 #101010;
@define-color vesper1 #161616;
@define-color vesper2 #1c1c1c;
@define-color vesper3 #4a4a4a;
@define-color vesper4 #a0a0a0;
@define-color vesper5 #ffffff;
@define-color vesper6 #99ffe4;
@define-color vesper7 #ffc799;
@define-color vesper8 #99d1ff;
@define-color vesper9 #d5b8ff;
@define-color vesper10 #ffc799;
@define-color vesper11 #ff8080;
@define-color vesper12 #ff8080;
@define-color vesper13 #d5b8ff;
@define-color vesper14 #99ffe4;
@define-color vesper15 #ffffff;

@define-color foreground     @vesper5;
@define-color background     @vesper0;
@define-color background-sec @vesper1;

@define-color text           @foreground;
@define-color background-alt @vesper1;
@define-color selected       @vesper9;
@define-color hover          alpha(@vesper3, .8);
@define-color urgent         @vesper11;
@define-color critical       @vesper11;

* {
  color: @text;
  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font", "Nerd Font", monospace;
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@background, 0.85);
  box-shadow: 0 0 5px 0 @vesper0;
  border-radius: 24px;
  margin: 16px;
  padding: 0;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  background: alpha(@background, 0.85);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
  border: 1px solid @vesper0;
  border-radius: 24px;
  padding: 6px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 2px solid @critical;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 14px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 8px;
  background-color: @background-alt;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @hover;
  border: 1px solid @selected;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @selected;
  color: @background;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  background-color: @vesper2;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @selected;
  color: @background;
}

.notification.critical progress {
  background-color: @selected;
}

.notification.low progress,
.notification.normal progress {
  background-color: @selected;
}
