[Desktop Entry]
Version=1.0
Name=About
Comment=System information from Pfetch
Exec=foot -e bash -c 'pfetch; read -n 1 -s'
Terminal=false
Type=Application
Icon=Arch
Categories=GTK;
StartupNotify=false
